h1 {
  font-size: 2rem;
  font-weight: 600;
}

.card {
  width: 20rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgb(65 11 16 / 15%);
  border-radius: 1rem;
  border: none;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 1.8s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1.8s cubic-bezier(0.5, 0, 0, 1) 0s;
  background: rgb(254, 251, 251);
  transition: all 0.6s ease;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 15px 25px rgb(65 11 16 / 15%);
}

span.heart-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #da2535;
  color: #fff;
  padding: 0.5rem 0.625rem;
  border-radius: 1rem 0 1rem 0;
  font-weight: 600;
  transition: .3s;
}

.main-div {
  margin-top: 5rem;
  background-color: #de3b49;
  margin-left: 10rem;
  margin-right: 10rem;
  padding: 4rem 0 2rem;
  border-radius: 16px;
}

.text-div h1 {
  color: #fff;
  font-size: 2rem;
}

.text-div h5 {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}
.text-div{
  padding: 3rem 3rem 1rem 3rem;
}

.image-div {
  padding-left: 5rem;
  padding-top: 3rem;
}

input[type="text"] {
  width: 100%;
  padding: 2rem;
  border: none;
  outline: none;
  border-radius: 12px;
}

input[type="text"]::placeholder {
  font-size: 1.2rem;
}

a.send {
  padding: 1.3rem;
  text-decoration: none;
  position: relative;
  left: 78%;
  bottom: 20%;
  background-color: #de3b49;
  color: #fff;
  width: 15%;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 12px;
}
