<div class="home-div">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 text-div">
        <div class="row">
          <div class="col-md-12">
            <h1>Send A Gift For</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1>Christmas</h1>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12 info-text">
            <p>
              In these end of the year holidays send a gift to your loved one
              and share the happiness at Christmas.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="started-btn">Get Started</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 home-img">
        <img class="img-fluid" src="https://christmas-landing-page-bay.vercel.app/assets/img/home.png
        " alt="home_img" />
      </div>
    </div>
  </div>
</div>
