
.card {
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 12px rgb(65 11 16 / 15%);
  border-radius: 1rem;
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 1.8s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1.8s cubic-bezier(0.5, 0, 0, 1) 0s;
  background: rgb(254, 251, 251);
  transition: all 0.6s ease;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 15px 25px rgb(65 11 16 / 15%);
}

p.shopping {
  font-size: 1.3rem;
  color: #da2535;
  font-weight: 600;
}

.pd-dir {
  border: 1px solid black;
  padding-left: 18%;
}
