<div class="decorations-div">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 style="font-size: 2.3rem; font-weight: 600;">Give Christmas Decorations</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 style="font-size: 2.3rem; font-weight: 600;">For Your Home</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-5">
    <div class="row gx-4 ml-auto d-flex justify-content-center align-items-center">
      <div class="col-md-3 mb-3">
        <div class="card p-4">
          <div class="image-div">
            <img width="280" src="https://christmas-landing-page-bay.vercel.app/assets/img/decoration1.png"
              class="img-fluid ps-3">
            <h4 style="font-weight: 600;" class="text-center">Christmas Bells</h4>
            <p class="text-center shopping">Go Shopping</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card p-4">
          <div class="image-div">
            <img width="280" src="https://christmas-landing-page-bay.vercel.app/assets/img/decoration2.png"
              class="img-fluid ps-3">
            <h4 style="font-weight: 600;" class="text-center">Christmas Candies</h4>
            <p class="text-center shopping">Go Shopping</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card p-4">
          <div class="image-div">
            <img width="280" src="https://christmas-landing-page-bay.vercel.app/assets/img/decoration3.png"
              class="img-fluid ps-3">
            <h4 style="font-weight: 600;" class="text-center">Christmas Trees</h4>
            <p class="text-center shopping">Go Shopping</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
