<div class="main-div">
  <section class="header">
    <header class="p-3">
      <div class="logo-div pt-2">
        <a class="ms-5 ps-5 pt-3">Christmas Gift</a>
      </div>
      <div class="navigation-div pt-2">
        <ul class="p-0">
          <li><a class="me-4 p-2" href="#">Home</a></li>
          <li><a href="#share" class="me-4 p-2">Share</a></li>
          <li><a href="#decorations" class="me-4 p-2">Decorations</a></li>
          <li><a href="#accessories" class="me-4 p-2">Accessory</a></li>
        </ul>
      </div>
    </header>

  </section>

  <section id="home" class="home-div">
    <app-home></app-home>
  </section>

  <section id="share" class="home-div">
    <app-share></app-share>
  </section>

  <section id="decorations" class="home-div">
    <app-decorations></app-decorations>
  </section>

  <section id="accessories" class="accessories-div">
    <app-accessories></app-accessories>
  </section>

  <section class="footer">
    <app-footer></app-footer>
  </section>
</div>

<!--move to top button-->
<button [ngClass]="getButtonClass()" (click)="topFunction()" class="myBtn" title="Go to top">
  <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-up-short"
    viewBox="0 0 16 16">
    <path fill-rule="evenodd"
      d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
  </svg>
</button>
