.img-div {
  padding: 8% 10%;
}

.text-div1 {
  padding: 13% 10%;
}

.text-div1 h1 {
  font-size: 2.2rem;
  font-weight: 600;
}
.info-text p {
  font-size: 1.3rem;
  color: #5b5757;
}
button.started-btn {
  border: none;
  outline: none;
  color: #fff;
  background-color: #da2535;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: 0.3s;
}
