<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 img-div">
      <img src="https://christmas-landing-page-bay.vercel.app/assets/img/shared.png" class="img-fluid">
    </div>
    <div class="col-md-6 text-div1">
      <div class="row">
        <div class="col-md-12">
          <h1>Sharing Is The Best Gift</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>You Can Give</h1>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12 info-text">
          <p>Sharing these holidays is the best gift you can give, give a present or share your love with the people
            you love the most and celebrate with great happiness.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="started-btn">Send a Gift</button>
        </div>
      </div>
    </div>
  </div>
</div>
